@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
*{
margin: 0;
padding: 0;
font-family: 'Noto Sans JP', sans-serif;

}
html {
    scroll-behavior: smooth;
}

nav {
    background-color: #9406f3;
    font-weight: 500;
    padding-left: 1rem;
    position: fixed;
    width: 100%;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li {
    padding: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

header {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

}

header div#img-rocket{
    display: flex;
    justify-content: center;

}
header div p {
    font-size: 2vw;
    font-weight: 700;

}   

header div span {
    font-size: 1rem;
    font-weight: 500;

}

header div img {

    width: 60%;

}

section#about {
display: flex;
justify-content: center;
align-items: center;
padding: 4rem;
background-color: bisque;
}

section#about div img {
    width: 70%;
    border-radius: 50%;
}

section#about div p {
    font-size: 1.1vw;
    text-align: justify;
    color: blueviolet;
    line-height: 2.5rem;

}

section#projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

}

section#projetos div img {
    margin: auto;
    display: block;
    width: 40%;
}

section#projetos div h2{
    text-align: center;
    padding: 1rem;
}

section#projetos div p {
    text-align: justify;
}

section#projetos div {
    padding: 2rem;
}

section#projetos div button {
    border: 1px solid steelblue;
    background-color: #fff;
    color:violet;
    padding: 1rem;
    font-size: 0.8vw;
    font-weight: 600;
    border-radius: 0.5rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: .6s ease-out;

}

section#projetos div button:hover {
    background-color: thistle;
    color: #fff;
    transform:scale(1.2);

}

section#habilidades h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;

}

section#habilidades {
    padding: 3rem 10rem 3rem 10rem;
    background-color: #d7e7ff;
}

section#habilidades p{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    
}

section#habilidades div{
    display: flex;
    border: 1px solid rgb(126, 131, 141) ;
    border-radius: 1rem;
}

section#habilidades div span#html {
    background-color: rgb(162, 0, 255);
    color: #fff;
    text-align: end;
    padding: .3rem;
    border-radius: 1rem;
    width: 80%;
}

section#habilidades div span#css {
    background-color: rgb(162, 0, 255);
    color: #fff;
    text-align: end;
    padding: .3rem;
    border-radius: 1rem;
    width: 60%;
}

section#habilidades div span#js {
    background-color: rgb(162, 0, 255);
    color: #fff;
    text-align: end;
    padding: .3rem;
    border-radius: 1rem;
    width: 40%;
}