<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, install-scale=1.0">
    <title>Catalogo de Guitarras</title>
    <link rel="stylesheet" href="../static/css/style.css">
    
</head>

<body>
    <section id="projetos">

        <div>
           <img src="../static/img/img-lerem.png" alt="img-lorem">
           <h2>Projeto 1</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem accusamus provident eum voluptas officia
              hic amet laudantium, porro possimus suscipit sequi harum fuga qui! Dignissimos distinctio voluptates
              aspernatur minus temporibus.</p>
           <button>Veja mais</button>
        </div>
  
        <div>
           <img src="../static/img/img-lerem.png" alt="img-lorem">
           <h2>Projeto 2</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem accusamus provident eum voluptas officia
              hic amet laudantium, porro possimus suscipit sequi harum fuga qui! Dignissimos distinctio voluptates
              aspernatur minus temporibus.</p>
           <button>Veja mais</button>
        </div>
  
        <div>
           <img src="../static/img/img-lerem.png" alt="img-lorem">
           <h2>Projeto 3</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem accusamus provident eum voluptas officia
              hic amet laudantium, porro possimus suscipit sequi harum fuga qui! Dignissimos distinctio voluptates
              aspernatur minus temporibus.</p>
           <button>Veja mais</button>
        </div>
  
        <div>
           <img src="../static/img/img-lerem.png" alt="img-lorem">
           <h2>Projeto 4</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem accusamus provident eum voluptas officia
              hic amet laudantium, porro possimus suscipit sequi harum fuga qui! Dignissimos distinctio voluptates
              aspernatur minus temporibus.</p>
           <button>Veja mais</button>
        </div>
  
     </section>




</body>