<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, install-scale=1.0">
    <title>Catalogo de Guitarras</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        function carregar(pagina){
            $("#conteudo").load(pagina);
        }
    </script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a onclick="carregar('inicio.html')" href="#">Inicio</a></li>
                <li><a onclick="carregar('catalogo.html')" href="#">Catalogo</a></li>
                <!-- <li><a href="../templates/catalogo.html"target="_main">Catalogo</a></li> -->
                <li><a href="#">Cadastro</a></li>
                <li><a href="#">Sobr</a></li>
                
            </ul>
        </nav>
    </header>



<section id="main">
    <div id="conteudo">
        

    </div>

    


</section>





 <footer class="social-footer">
    <p>@todos os direitos reservados</p>
    
   
  </footer>

 <script src="../static/js/script.js"></script>
 <script src="../static/js/slide.script.js"></script>
 
</body>

</html>

