@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
margin: 0;
padding: 0;
font-family: 'Noto Sans JP', sans-serif;

}

.header {
    /* background-color: #f1f1f1; */
    padding: 20px;
    text-align: center;
  }

.column {
    float: left;
    width: 45%;
    padding: 10px;
    /* background-color: black; */
  }
  
  .column h2{
    color: white;
    text-align: left;
    margin-left: 8%;
  
  }


  .column1 {
    float: right;
    width: 45%;
    padding: 10px;
    /* background-color: red; */
    
  }
.column1 h2{
  color: white;
  text-align: left;
  margin-left: 8%;

}
  
.column1 p {
  color: gray ;

}
  
  
body {
background-color: #6150376e;

    
}




 img {
    float: left;
    padding: 1rem;
    /* margin: 0px 10px 10px 0; */
    /* max-width: 186px; */
    border-radius: 50%;
    
}



p{
    margin-top: 5%;
}

