@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
*{
margin: 0;
padding: 0;
font-family: 'Noto Sans JP', sans-serif;

}
html {
    scroll-behavior: smooth;
}


nav {
    background-color: #9406f3;
    font-weight: 500;
    padding-left: 1rem;
    position: fixed;
    visibility: visible;
    width: 100%;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li {
    padding: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

header{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5rem;
   
}

header div#img-rocket {
    display: flex;
    justify-content: center;
 }


/* Slideshow  */
.slideshow-container {
    max-width: 1000px;
     position: relative;
     margin: auto;
    
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  
  .mySlides {
      
      display: none;
     
      
  }

  
  
  
  
  /* bolinhas */
  .dot {
    height: 15px;
    width: 15px;
    visibility: visible;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* animação */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
 

section#about {
display: flex;
justify-content: center;
align-items: center;
padding: 4rem;
background-color: bisque;
}

section#about div img {
    width: 70%;
    border-radius: 50%;
    display: block;
    margin: auto;
 }

section#about div p {
    font-size: 1.1vw;
    text-align: justify;
    color: blueviolet;
    line-height: 2.5rem;

}

section#projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

}

section#projetos div img {
    margin: auto;
    display: block;
    width: 80%;
}

section#projetos div h2{
    text-align: center;
    padding: 1rem;
}

section#projetos div p {
    text-align: justify;
}

section#projetos div {
    padding: 2rem;
}

section#projetos div button {
    border: 1px solid steelblue;
    background-color: #fff;
    color:violet;
    padding: 1rem;
    font-size: 0.8vw;
    font-weight: 600;
    border-radius: 0.5rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: .6s ease-out;

}

section#projetos div button:hover {
    background-color: thistle;
    color: #fff;
    transform:scale(1.2);

}

section#habilidades {
    padding: 3rem 10rem 3rem 10rem;
    background-color: #d7e7ff;
}

section#habilidades h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;

}



section#habilidades p{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    
}

section#habilidades div{
    display: flex;
    border: 1px solid rgb(126, 131, 141) ;
    border-radius: 1rem;
}

section#habilidades div span#html {
    background-color: rgb(162, 0, 255);
    color: #fff;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 80%;
}

section#habilidades div span#css {
    background-color: rgb(162, 0, 255);
    color: #fff;
    text-align: end;
    padding: .3rem;
    border-radius: 1rem;
    width: 60%;
}

section#habilidades div span#js {
    background-color: rgb(162, 0, 255);
    color: #fff;
    text-align: end;
    padding: .3rem;
    border-radius: 1rem;
    width: 40%;
}

section#habilidades div span#py {
    background-color: rgb(162, 0, 255);
    color: #fff;
    text-align: end;
    padding: .3rem;
    border-radius: 1rem;
    width: 35%;
}


/* Seção de contato */

section#contato {
    padding: 3rem 10rem 3rem 10rem; /* Sentido horario: Cima, direita , baixo, esquerda */
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Quebra o conteúdo para a próxima linha caso não haja mais espaço para esse conteúdo na tela */
 }
 
 section#contato div#redes{
    width: 100%; /* Faz com que a div rede ocupe 100% do espaço na tela */
 }
 
 section#contato div#redes h3{
    text-align: center; /* Alinhamento centralizado do texto */
    font-size: 2.5rem; /* Tamanho da fonte do elemento */
    margin-bottom: 2rem; /* Margem para baixo do elemento */
 }
 
 section#contato div#redes div#icons{
    display: flex;
    justify-content: center;
 }
 
 section#contato div#redes div#icons a{
    text-decoration: none; /* Tira o sublinhado e toda decoração de texto do link */
    color: #0066ff;
    font-size: 4rem;
    padding: 2rem;
    transition: all .4s ease-out; /*  Suavisa a transição de cores no hover */
 }
 
 /* o :hover serve para quando passar o mouse por cima do elemento fazer algo */
 section#contato div#redes div#icons a:hover{
    color: #71aaff;
 }
 
 section#contato div#redes div#icons a i{
    transition: all .4s ease-out;
 }
 
 /* O atributo transform só muda um elemento que aparece efetivamente na tela, por isso colocamos ele na tag i, e não na tag a */
 section#contato div#redes div#icons a i:hover{
    transform: scale(1.2);
 }
 
 section#contato div#form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 
 section#contato div#form h3{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
 }
 
 section#contato div#form form{
    width: 50%;
 }
 
 /* A virgula serve para estilizar dois elementos ao mesmo tempo */
 section#contato div#form form input, textarea{
    width: 100%;
    padding: .5rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    margin-top: .5rem;
    margin-bottom: 1rem;
    outline: none; /* Retira a borda do input quando clico dentro dele */
 }
 
 section#contato div#form form label{
    font-size: 1.2rem;
 }
 
 section#contato div#form form button{
    border: 1px solid #3359ec;
    background-color: #fff;
    color: #3359ec;
    padding: 1rem;
    font-size: .8vw;
    font-weight: 600;
    border-radius: .5rem;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .6s ease-out;
    width: 40%;
 }
 
 section#contato div#form form button:hover{
    background-color: #3359ec;
    color: #fff;
    transform: scale(1.2);
 }

.social-footer {
  padding: 1rem;
  background: #0a0a0a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer  p{
    color: #fff;
}


.social-footer-right {
  
  color: #fefefe;
  
  
}


 
  
  
  
  
  
 

  
  